<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="skull-outline"></ion-icon>
      <ion-label>Combate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Habilidades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="shirt-outline"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="color-wand-outline"></ion-icon>
      <ion-label>Magia</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>



1 - Datos y caracteristicas  - Capacidades que gana por nivel
2 - Combate
3 - Habilidades
4 - Inventario
5 - Magia
6 - Notas