<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nivel secreto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-title>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSf37Qv1jIOTmYmTUvrL7xXbjipzMgXjvteVCXFocgNzU3OdgA/viewform">Aún no está listo pero puedes dar feedback</a>
  </ion-title>
</ion-content>
