<ion-header [translucent]="true" *ngIf="loaded">
  <ion-toolbar>
    <ion-title>
      {{charData.nombre.value_2}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="loaded">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">{{charData.nombre.value_2}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- CARGANDO... -->
  
  
  
  <ion-list>
    <!-- <ion-button shape="round" color="primary" expand="block" (click)="GetData()">Pedir</ion-button> -->
    <ion-button expand="full" color="primary" (click)="presentacion = !presentacion">Presentación </ion-button>
    <ion-item  *ngIf="presentacion">
      <ion-card>
        <img *ngIf="loaded" [src]="charData.foto.value_2" style="margin: 0 auto !important;">
        <ion-card-header>
          <ion-card-title>{{charData.raza.value_2}} - {{charData.clase.value_2}}</ion-card-title>
          <ion-card-subtitle>{{charData.jugador.value_2}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{charData.rasgos.value_2}}
          
        </ion-card-content>
        <ion-card-content>
          
          {{charData.ideales.value_2}}
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-button expand="full" color="primary" (click)="general = !general">Información General</ion-button>

    <div *ngIf="general">
      <ion-item><ion-label>Origen:</ion-label> <ion-text color="primary">{{charData.origen.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Religion:</ion-label> <ion-text  color="secondary">{{charData.religion.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Edad:</ion-label> <ion-text  color="primary">{{charData.edad.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Altura:</ion-label> <ion-text  color="secondary">{{charData.altura.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Alineamiento:</ion-label> <ion-text  color="primary">{{charData.alineamiento.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Sexo:</ion-label> <ion-text  color="secondary">{{charData.sexo.value_2}}</ion-text></ion-item>
      <ion-item><ion-label>Peso:</ion-label> <ion-text  color="primary">{{charData.peso.value_2}}</ion-text></ion-item>
    </div>  
    <ion-button expand="full" color="primary" (click)="caracteristicas = !caracteristicas">Caracteristicas</ion-button>
    <div *ngIf="caracteristicas">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center">
              <h1>BONO</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-center">
              <h1><ion-icon name="bonfire-outline"></ion-icon></h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-center">
              <h1>TS</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="danger" class="ion-text-center">
              <h1>{{charData.fue.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="danger" class="ion-text-center">
              <h3>FUE</h3>
              <h3>{{charData.fue.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="danger" class="ion-text-center">
              <h1>{{charData.fue.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="warning" class="ion-text-center">
              <h1>{{charData.con.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="warning" class="ion-text-center">
              <h3>CON</h3>
              <h3>{{charData.con.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="warning" class="ion-text-center">
              <h1>{{charData.con.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="Success" class="ion-text-center">
              <h1>{{charData.des.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="Success" class="ion-text-center">
              <h3>DES</h3>
              <h3>{{charData.des.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="Success" class="ion-text-center">
              <h1>{{charData.des.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="secondary" class="ion-text-center">
              <h1>{{charData.int.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="secondary" class="ion-text-center">
              <h3>INT</h3>
              <h3>{{charData.int.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="secondary" class="ion-text-center">
              <h1>{{charData.int.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="danger" class="ion-text-center">
              <h1>{{charData.sab.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col color='newColor'>
            <ion-text color="danger" class="ion-text-center">
              <h3 >SAB</h3>
              <h3>{{charData.sab.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="danger" class="ion-text-center">
              <h1>{{charData.sab.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="primary" class="ion-text-center">
              <h1>{{charData.car.value_3}}</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="primary" class="ion-text-center">
              <h3>CAR</h3>
              <h3>{{charData.car.value_2}}</h3>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="primary" class="ion-text-center">
              <h1>{{charData.car.value_4}}</h1>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    <!-- <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>H3 Primary Title</h3>
        </ion-text>
        <p>Paragraph line 1</p>
        <ion-text color="secondary">
          <p>Paragraph line 2 secondary</p>
        </ion-text>
      </ion-label>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label>
        Item with Full Lines
      </ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>
